# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5434
DB_NAME=adso_fincas
DB_USER=postgres
DB_PASSWORD=tu_contrasena_aquí

# Seguridad JWT
JWT_SECRET=dGhpcyBpcyBhIHZlcnkgbG9uZyBzZWNyZXQga2V5IGZvciBKV1QgMjU2IGJpdHMgbWluaW11bQ==
JWT_EXPIRATION=86400000
